@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagem/unnamed.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    text-align: center;
    color: white;
}

header{
    background-color: rgba(182, 36, 182, 0.607);
    font-family: 'Lemon', serif;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}

main{
    background-color: rgba(0, 0, 0, 0.607);
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 400px;
}

input{
    padding: 5px;
}

.botao{
    padding: 10px;
    background-color: rgba(182, 36, 182, 0.607);
    color: white;
    font-family: 'Lemon', serif;
    font-weight: bold;
    font-size: 18px;
}

.botao:hover{
    background-color:  rgba(128, 128, 128, 0.426);
}

.botao:active{
    background-color: rgba(0, 0, 0, 0.385);
}

.txt{
    background-color: rgba(182, 36, 182, 0.607);
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bolder;
}

footer{
    background-color: rgba(182, 36, 182, 0.607);
    font-family: 'Lemon', serif;
    font-weight: bold;
    height: 30px;
    padding-top: 20px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: white;
}